/* Importa los estilos globales */
@import url('style.css');

/* Estilos generales */
.descuento-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  color: #333333;
  box-sizing: border-box;
}

.descuento-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.descuento-form-group {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

.descuento-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  width: auto; /* Ajustar el ancho automáticamente */
  min-width: 50px; /* Ancho mínimo */
  max-width: 100px; /* Ancho máximo */
}

.descuento-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #2F4F4F;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.descuento-button:hover {
  background-color: #333;
}

.descuento-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto;
  box-sizing: border-box;
  table-layout: auto; /* Ajustar automáticamente el ancho de las columnas */
}

.descuento-table th,
.descuento-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.descuento-table th {
  cursor: pointer;
  background-color: #f8f8f8;
  color: #000;
  white-space: nowrap; /* Ocupa el mínimo espacio necesario */
}

.descuento-table th:hover {
  background-color: #e9ecef;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-icon {
  position: absolute;
  right: 10px;
  pointer-events: none;
}

.coincidencias-table {
  width: 80%; /* Ajustar el ancho máximo al 80% */
  max-width: 80%; /* Asegurar que no supere el 80% */
  margin: 0 auto; /* Centrar la tabla */
  border-collapse: collapse;
  margin-bottom: 10px;
  table-layout: auto; /* Ajustar automáticamente el ancho de las columnas */
}

.coincidencias-table th, .coincidencias-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.coincidencias-table th {
  background-color: #f2f2f2;
  text-align: left;
  white-space: nowrap; /* Ocupa el mínimo espacio necesario */
}

.error {
  color: red;
  margin-bottom: 20px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .toggle-button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  .toggle-button:after {
    content: '+';
  }
  .toggle-button.active:after {
    content: '-';
  }

  /* Estilos específicos para los botones eliminar, editar y agregar en pantallas móviles */
  .descuento-button.eliminar, .descuento-button.editar, .descuento-button.agregar {
    padding: 8px; /* Reducir el padding del botón */
    font-size: 16px; /* Ajustar el tamaño de la fuente */
    margin-right: 5px;
    background-color: transparent; /* Hacer el fondo transparente */
    color: #2F4F4F; /* Cambiar el color del icono */
  }

  .descuento-button.eliminar i, .descuento-button.editar i, .descuento-button.agregar i {
    font-size: 16px; /* Ajustar el tamaño del icono */
  }
}