/* Import global styles */
@import url('style.css');
@import url('header.css');


.producto-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
    padding: 20px;
    background-color: #fff;
    color: #333333;
    flex-grow: 1; /* Permitir que el contenedor crezca para ocupar el espacio disponible */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    overflow-x: hidden; /* Desactivar el scroll horizontal */
}

.producto-header {
    font-family: 'Playfair Display', serif;
    color: #2F4F4F;
    text-align: center;
    margin-bottom: 20px;
}

.producto-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto; /* Permitir desplazamiento horizontal si la tabla es demasiado ancha */
}

.producto-table th, .producto-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.producto-table th {
    background-color: #f8f8f8;
    color: #000;
}

.producto-button {
    background-color: #2F4F4F;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
    margin-right: 10px; /* Agrega un margen derecho para el espacio entre botones */
}

.producto-button:hover {
    background-color: #333;
}

/* Estilos para el input */
.producto-input {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px; /* Espacio entre el input y los botones */
    width: 100%; /* Ajusta el ancho del input */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

/* Estilos adicionales para mejorar la apariencia */
.producto-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%; /* Asegura que el formulario no exceda el ancho del contenedor */
}

.producto-form label {
    font-size: 18px;
    margin-right: 10px;
}

.producto-total-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* Asegura que el contenedor no exceda el ancho del contenedor padre */
}

.producto-total {
    font-size: 18px;
    margin-right: 20px;
}

.producto-finalizar-button {
    width: 100%; /* Ajusta el ancho del botón */
    max-width: 200px; /* Ajusta el ancho máximo del botón */
}

.producto-icon {
  cursor: pointer;
  color: #2F4F4F;
  font-size: 1.2em;
  margin: 0 5px;
}
.producto-icon:hover {
  color: #2F4F4F;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .producto-container {
        padding: 10px; /* Reducir el padding en pantallas más pequeñas */
    }

    .producto-header {
        font-size: 24px; /* Ajustar el tamaño de la fuente del encabezado */
        margin-bottom: 10px;
    }

    .producto-table th, .producto-table td {
        padding: 6px; /* Reducir padding en la tabla */
        font-size: 12px; /* Reducir el tamaño de la fuente en la tabla */
    }

    .producto-button {
        padding: 8px 16px; /* Reducir el tamaño de los botones */
        font-size: 16px; /* Ajustar el tamaño de la fuente de los botones */
        margin-right: 5px;
    }

    .producto-input {
        padding: 8px; /* Reducir padding de los campos de entrada */
        font-size: 16px;
        margin-right: 5px;
        width: 100%; /* Hacer que los campos de entrada ocupen el ancho total */
        box-sizing: border-box; /* Asegurar que el padding esté incluido en el ancho */
    }

    .producto-form {
        flex-direction: column; /* Alinear los elementos del formulario en columna */
        align-items: stretch;
    }

    .producto-form label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .producto-table {
        overflow-x: auto; /* Permitir desplazamiento horizontal si la tabla es demasiado ancha */
    }

    .producto-total-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .producto-finalizar-button {
        width: 100%;
        max-width: none;
    }
}